<footer>
    <div id="logofot"> <img src="imagenes/logoch.jpg" alt=""width="200px" ></div>
    <div><a id="vermas" href="/formNewprop" target="_blank">Agregar propiedad</a><p>Copyrigth © 2021 Chalita Crinigan Propiedades. Todos los derechos reservados.</p> 
        </div> 
</footer>