       
    <div id="contactbar">
        <div class="iconos">
          <a href="https://wa.me/5492267631530" class="iconos" target="_blank"> <i class="fab fa-whatsapp"></i></a>
          <a href="https://www.facebook.com/ChalitaCrinigan/"class="iconos" target="_blank"> <i class="fab fa-facebook-f"></i></a>

          <a href="https://www.instagram.com/chalitacriniganpropiedades/?hl=es-la"class="iconos" target="_blank"><i class="fab fa-instagram"></i></a>
          </div>
          
        
        <div> <p> chalitacriniganpropiedades@gmail.com
        +54 9 2267 631530</p>
          </div>    
   </div>
     <div id="menu">

        <div id="=logo">
            <a href="/" > <i>
         <img src="imagenes/logo-img.png" alt="logoinmob" width="300px" height=" px"> </i> </a> </div>


        <nav>
            <ul>
                <li> <a href="#propiedadesdestacadas">TODOS LOS INMUEBLES</a> </li>
                <li> <a href="/index2alquileres" target="_blank">ALQUILERES</a> </li>
                <li> <a href="/index3ventas" target="_blank">VENTAS</a> </li>
                <li> <a href="">TURISMO</a> </li>
                <li> <a href="">DESARROLLOS</a> </li>
                <li> <a href="#nosotros
                    ">NOSOTROS</a> </li>
                <li> <a href="/indexcontacto">CONTACTANOS</a> </li>
            </ul>
        </nav>
    </div>
