<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../parcials/links') %>
</head>
<body>
   <header>
    <%-include('../parcials/header') %>
    </header>

    <main>
<section id="propiedades">
        <div class="propiedades">
            <div >
            <img class="portadaprop"src="imagenes/1_raVhHwS-min.jpg" alt="chacrapileta" ></div>
            
            <h2 id="tituloprop">Chacra y vivienda más pileta</h2>
            <p> VENTA.Chacra de 14 has. 3 habitaciones. 2 baños. Cocina comedor. Living. Piscina.</p>
            <a id="vermas" href="">VER MÁS</a> 
        </div> 
</section>


    </main>
    <%-include('../parcials/footer') %>

    
</body>
<script src="https://kit.fontawesome.com/50dd093889.js" crossorigin="anonymous"></script>

</html>