<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('../parcials/links') %>
</head>
<body>
    <header>
        <%-include('../parcials/header') %> 
    </header>

    <main>
<section id="propiedades">
    <div class="propiedades">
        <div>
        <img class="portadaprop" src="imagenes/labodega.jpg" alt="casaquintabodega" ></div>
        
        <h2 id="tituloprop">Casaquinta con pileta</h2>
        <p> ALQUILER.Casaquinta en predio de una hectárea. 4 habitaciones. 3 baños. Cocina comedor</p>
        <a id="vermas" href="">VER MÁS</a> </div> 
    
</section>


    </main>

    <%-include('../parcials/footer') %>
   
    
</body>
<script src="https://kit.fontawesome.com/50dd093889.js" crossorigin="anonymous"></script>

</html>